.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1 {
    display: flex;
    justify-content: center;
  
    color: white;
}
input {
    margin: 5px;
   
    color: white;
    background-color: gray;
 
}
legend {
   
    color: white;
}
.user {
    display: flex;
    justify-content: center;
    background-color: gray;
    color: white;
}
fieldset {
    background-color: gray;
}
body {
    background-color: gray;
}
.pc {
 display:block;
color: white;
background-color: gray;

}
.mainspec {
    display: flex;
    justify-content: center;
}

.mid {
    width: 30%;
}
.mainfield {
    width: 20%;
}
.right {
    width: 50%;
}
.mas {
    color: white;
}
